.option_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 400px;
  border: 2px solid black;
  border-radius: 10px;
}

.option {
  font-size: 24px;
}

.loading {
  background: #bfc2d1;
  width: 250px;
  height: 10px;
  border-radius: 5px;
}

.progress-bar {
  background: #1b1e1e;
  width: 0%;
  height: 10px;
  border-radius: 5px;
  animation: progress-bar 3.5s linear forwards;
}

@keyframes progress-bar {
  100% {
    width: 100%;
  }
}
